@media (max-width: 768px) {
  .modal {
    align-items: center;
  }

  .modalContent {
    width: 90%; /* Reduce width for smaller screens */
  }

  .modalContent h2 {
    font-size: 30px; /* Decrease font size for smaller screens */
    padding: 0px; /* Adjust padding for smaller screens */
  }

  .modalContent p {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .MovieOverview {
    width: 90%;
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden; /* Ensure only vertical scrollbar is displayed */
    scrollbar-width: thin; /* Set the scrollbar width to 'thin' */
    scrollbar-color: #ffffff4d #f5f5f500; /* Define the scrollbar color */
  }

  /* Define the scrollbar track and thumb styles */
  .MovieOverview::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
  }

  .MovieOverview::-webkit-scrollbar-thumb {
    background-color: #ffffff4d; /* Set the thumb color */
    border-radius: 10px; /* Add border-radius for rounded corners */
  }

  .MovieOverview::-webkit-scrollbar-track {
    background-color: #f5f5f500; /* Set the track color */
    border-radius: 10px; /* Add border-radius for rounded corners */
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  background-color: rgba(0, 0, 0, 0.4);
  /* padding: 20px; */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 80%;
  overflow: hidden;
}

.modalBackdrop {
  position: absolute;
  background-color: rgba(0, 0, 0);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  filter: blur(5px);
  z-index: -1;
}

.modalContent h2 {
  margin: 0;
  font-size: 40px;
  padding: 20px 50px 10px 50px;
  filter: drop-shadow(2px 2px 2px #000);
}
.modalContent p {
  padding: 20px 50px;
  filter: drop-shadow(2px 2px 2px #000);
}

button {
  all: unset;
  cursor: pointer;
}

button:active {
  color: #fff;
}

.CloseButtonContainer {
  display: flex;
  justify-content: end;
}
.CloseButton {
  margin: 10px 10px 0px 10px;
  padding: 10px 10px 0px 10px;
}

.CloseButton:hover {
  color: #808080;
}

.TableLeft {
  text-align: end;
  font-weight: bold;
}

.TableRight {
  text-align: start;
  padding-left: 20px;
}

.MovieInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 5px;
}

.MovieButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.MovieButtonContainer p {
  font-size: 10px;
  padding: 0px;
  transform: translateY(-15px);
}

.MovieButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 50px;
  margin: 10px;
  border: solid 1px white;
  border-radius: 10px;
}

.TrailerAvailable,
.TrailerAvailable p {
  margin: 0 auto;
  padding: 10px;
}

.MovieButtons:active {
  background: #000;
}

.MovieButtons:hover {
  background: #808080;
}

.MovieOverview {
  margin: 0 auto;

  width: 75%;
}
